<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="okular" version="48">
 <MenuBar>
  <Menu name="file">
   <text>&amp;File</text>
   <Action name="file_open"/>
   <Action name="file_open_recent"/>
   <Action name="file_save_as"/>
   <Action name="file_reload"/>
   <Separator/>
   <Action name="file_print"/>
   <Action name="file_print_preview"/>
   <Separator/>
   <Action name="file_export_as"/>
   <Separator/>
   <Action name="file_share"/>
   <Separator/>
   <Action name="file_close"/>
   <Action name="file_quit"/>
  </Menu>
  <Menu name="edit">
   <text>&amp;Edit</text>
  </Menu>
  <Menu name="view">
   <text>&amp;View</text>
   <Action name="show_leftpanel"/>
   <Action name="show_bottombar"/>
   <Separator/>
   <Action name="view_fullscreen"/>
   <Action name="presentation"/>
  </Menu>
  <Menu name="go">
   <text>&amp;Go</text>
  </Menu>
  <Menu name="bookmarks">
   <text>&amp;Bookmarks</text>
  </Menu>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action name="options_configure_generators"/>
  </Menu>
  <Menu name="settings">
   <text>&amp;Settings</text>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Action name="options_show_menubar"/>
   <Merge/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
  <Menu name="help">
   <text>&amp;Help</text>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="file_open"/>
  <Action name="file_save_as"/>
  <Action name="file_print"/>
  <Separator/>
  <Action name="presentation"/>
 </ToolBar>
 <ActionProperties scheme="Default">
  <!-- File Operations (Vim-style) -->
  <Action name="file_open" shortcut="o; Ctrl+O"/>
  <Action name="file_save_as" shortcut="Ctrl+S"/>
  <Action name="file_close" shortcut="q; Ctrl+W"/>
  <Action name="file_quit" shortcut="Shift+Q; Ctrl+Q"/>
  <Action name="file_reload" shortcut="R"/>

  <!-- View -->
  <Action name="view_fullscreen" shortcut="f; F11"/>
  <Action name="presentation" shortcut="F5"/>
  <Action name="show_leftpanel" shortcut="F9; b"/>
  <Action name="show_bottombar" shortcut="F8"/>

  <!-- Print -->
  <Action name="file_print" shortcut="Ctrl+P"/>
  <Action name="file_print_preview" shortcut="Ctrl+Shift+P"/>
 </ActionProperties>
</gui>
