\" Local Vim configuration
\" This file is sourced by .vimrc and is gitignored

\" Personal settings
set relativenumber
set wrap

\" Custom key mappings
nnoremap <leader>t :tabnew<CR>

\" Plugin-specific settings
\" let g:plugin_option = 'value'
