[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[include]
    path = ~/.gitconfig.local


[init]
    defaultBranch = main

[push]
    default = current

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
